.admin-offcanvas {
  &.offcanvas-lg {
    @include media-breakpoint-down(lg) {
      width: 320px !important;
    }
  }
}

.admin-sidebar {
  font-family: 'Open Sans', sans-serif;
  width: 320px;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.15);

  &-logo {
    &-box {
      height: 80px;

      &-img {
        img {
          width: 190px;
        }
      }
    }
  }
  button{
    &.collapsed{
      i{
        transform: rotate(180deg);
      }
    }
  }
  li {
    margin-bottom: 12px;
    a {
      color: $dark;
      padding: 9px 15px;
      border-radius: 10px;
      font-weight: 600;

      i {
        width: 20px;
        color: $dark;
        text-align: center;
        font-size: 20px;
      }

      &.active {
        font-weight: 700;
        background: $secondary-200 !important;
        color: $white !important;

        i {
          color: $white !important;
        }
      }
    }
  }
}

.admin-sidebar-inner {
  overflow-y: auto;
  height: calc(100vh - 80px);
}


