.admin-school-tabs{
  .nav-tabs{
    background: #F3F4F6;
    li{
      &:first-child{
        .nav-link{
          border-radius: 0.5rem 0 0 0 !important;
        }
      }
    }
    .nav-link{
      color: #8C929D !important;
      padding: 0.6rem 1.3rem !important;
      @include media-breakpoint-down(md) {
        padding: 0.5rem 0.8rem !important;
        font-size: 12px !important;
        font-weight: 600 !important;
      }
      &.active{
        color:$secondaryColor !important;
      }
    }
  }
}